<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340043362765-c8hj31km6vc1pqoa0aodq2bh3d0rrit5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340043362765-c8hj31km6vc1pqoa0aodq2bh3d0rrit5</string>
	<key>API_KEY</key>
	<string>AIzaSyBmqnKX1GexkcYE1d8k3O-5H1lUw9IDPLc</string>
	<key>GCM_SENDER_ID</key>
	<string>340043362765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebooksUp</string>
	<key>PROJECT_ID</key>
	<string>ebooks-7be44</string>
	<key>STORAGE_BUCKET</key>
	<string>ebooks-7be44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340043362765:ios:e2565587b816c380789484</string>
	<key>DATABASE_URL</key>
	<string>https://ebooks-7be44-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>